<!-- ko if: isEnabled -->
<div id="form-add-warranty-wrapper">
    <form class="form warranty" data-role="add-warranty"
          data-bind="{
          'submit':submit
          }"
          method="post">
        <table class="data-table">
            <tbody>
            <tr>
                <td data-bind="{
                    html: getData('description')
                }">

                </td>

                <td class="variants-price-wrapper">
                    <!-- ko if:getData('oldPrice') -->
                    <span class="old-price" data-bind="{
                        text: getFormattedPrice(getData('oldPrice'))
                    }"></span>
                    <!-- /ko -->
                    <span class="price" data-bind="{
                        text: getFormattedPrice(getData('price'))
                    }"></span>
                </td>

                <td class="choice-price-wapper">
                    <ul>
                        <li class="field choice">
                            <input type="radio" name="add-waranty" id="add_warranty_yes" class="radio" value="1" data-bind="checkedValue: true, checked: isWarrantyAdded" >
                            <label class="label" for="add_warranty_yes">
                                    <span data-bind="i18n:'Yes'">

                                    </span>
                            </label>
                        </li>
                        <li class="field choice">
                            <input type="radio" name="add-waranty" id="add_warranty_no" class="radio" value="0" data-bind="checkedValue: false, checked: isWarrantyAdded" >
                            <label class="label" for="add_warranty_no">
                                    <span data-bind="i18n:'No'">

                                    </span>
                            </label>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<!-- /ko -->